<h1>Hello, Video Policy System!</h1>

<% @videos.each do |video| %>
  <div class="video-container">
    <img src="//placehold.it/400x200/&text=<%= video.title %>" alt="<%= video.title %>">
    <p>Video Title: <%= video.title %></p>
    <ul>
    <% video.systems.each do |sys| %>
      <li><a href="/country/<%= sys.country.code.downcase %>"><%= sys.country.code %></a> | <%= sys.policy.name %></li>
    <% end %>
    </ul>
  </div>
<% end %>